font-family: 'PT Mono', monospace;

h2 {
  color: white;
}

body {
  color: #ffc600;
}


.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: #150b00;
}

.right {
  width: 70%;
  background-color: #1a0d00;
}

#pfp {
  border-radius: 50%;
}
