font-family: 'PT Mono', monospace;

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
  background-color: #150b00;
}

.right {
  width: 70%;
  background-color: #1a0d00;
}

#pfp {
  border-radius:50%;
}
